server {
  # use server_name directive to support multiple sites on the same IP
  listen 80 default_server;

  # path to built assets
  root /var/www/react-boilerplate/dist;

  # requests to 'folders', e.g. /about/, will serve /about/index.html
  index index.html;

  # cache static file requests
  location ~* \.(?:ico|css|js|gif|jpe?g|png)$ {
    expires 30d;
    add_header Pragma public;
    add_header Cache-Control "public";
  }

  # serve index.html for all other requests
  #
  # location / catches all requests
  # try_files checks if a file exists at $uri or $uri/ (equivalent to $uri/index.html)
  # otherwise, responds with the root index.html
  location / {
    try_files $uri $uri/ /index.html;
  }

  # gzip response
  gzip on;
  gzip_types text/plain application/javascript application/x-javascript text/javascript text/xml text/css application/json;
}
